body{
    background-image: url("Dull.jpg");
}
#p1
{
    font-size: 20px;
    color: #0000b3;
    font-weight: bold;
    font-family: 'Kumbh Sans', sans-serif;
}
#p2{
   color: #0000ff;
   font-style: italic;
   font-size:15px;
   line-height: 2%;
}
#change
{
    padding:20px;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 25px;
    font-weight: lighter;
}
button {
    width: 80px;
    height: 25px;
    margin: 5px;  
  }
#form
{
    font-size: 20px;
    color: #0000b3;
    font-weight: bold;
    font-family: 'Kumbh Sans', sans-serif;
}
#sent
{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    color:#404245;
    font-weight: bold;
    
}
#answer
{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
}
#ans
{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    
}